<%- include('partials/header') %>

<div class="flex-home">
  <header>
    <h1 class="main-title">Memory Game</h1>
    <h2 class="title-hook">Follow the pattern and test your memory!</h2>
    <a class="btn btn-lg main-btn" href="/register" role="button">REGISTER</a>
    <a class="btn btn-lg main-btn" href="/login" role="button">LOGIN</a>
  </header>

  <section id="leaderboard">
    <div class="container">
      <h2 class="leaderboard-title">Leaderboard</h2>
      <div class="row">
        <div class="col">
          <h2 class="player">Player</h2>
          <% topThree.forEach(function(user) { %>
          <h3><%= user.alias %></h3>
          <% }); %>
        </div>
        <div class="col">
          <h2 class="score">Score</h2>
          <% topThree.forEach(function(user) { %>
          <h3><%= user.highestScore %></h3>
          <% }); %>
        </div>
      </div>
    </div>
  </section>
</div>


<%- include('partials/footer') %>
